.header {
	background: #111111 !important;
}


.header__logo {
	padding: 15px 0;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	text-align: center;
	
}

.header__menu  li {
	list-style: none;
	display: inline-block;

	position: relative;
}

.header__menu ul li.active a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover .dropdown {
	top: 32px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 150px;
	background: #111111;
	text-align: left;
	padding: 5px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 20px;
	text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
	display: none;
}

.header__menu ul li a {
	font-size: 18px;
	color: #fff;
	display: block;
	font-weight: 600;
	position: relative;
	padding: 3px 0;
	text-transform: capitalize;
	transition: all .3s;
}

.header__menu ul li a:hover {
color: #e12c43;
}

.header__nav__option {
	text-align: right;
	padding: 30px 0;
}

.header__nav__option a {
	display: inline-block;
	margin-right: 10px;
	position: relative;
}

.header__nav__option a span {

position: absolute;
width: 20px;
height: 20px;
background: #e12c43;
border-radius: 50%;
color: #fff;
text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 20px;
left: 15px;
bottom: -5px;
}

.header__nav__option a:last-child {
	margin-right: 0;
}

.header__nav__option .price {
	font-size: 15px;
	color: #111111;
	font-weight: 700;
	display: inline-block;
	margin-left: -20px;
	position: relative;
	top: 3px;
}

.offcanvas-menu-wrapper {
	display: none;
}

.canvas__open {
	display: none;
}
